.navAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Jost';
    font-size: 1rem;
}

.navIcon {
    width: 2rem;
    height: 2rem;
    padding: 0 10vw;
}